.form-item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.4rem;
  width: 100%;

  &.error {
    input,
    textarea {
      border-color: rgba(226, 73, 73, 0.85);
      background-color: rgba(226, 73, 73, 0.1);
    }
  }

  .zag {
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 400;
    line-height: 2.4rem;
  }

  input,
  textarea {
    width: 100%;
    max-width: 46.9rem;
    height: 4rem;
    border-radius: 1.2rem;
    border: 0.1rem solid rgba(155, 174, 182, 0.85);
    box-shadow: 0 0.1rem 0.2rem rgba(17, 65, 85, 0.2) inset;
    background-color: $c-grey_light;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 400;
    line-height: 2.4rem;
    padding: 0rem 1.6rem;
    transition: 0.3s;

    &::placeholder {
      color: $c-placeholder;
    }

    &:focus {
      border-color: rgba(50, 151, 194, 0.85);
      background-color: #fbfbfc;
    }
  }

  textarea {
    resize: none;
    height: 8.8rem;
    padding: 0.8rem 1.6rem;
  }

  .webform-field-upload {
    max-width: 121.6rem;
    height: 11.6rem;
    border-radius: 1.2rem;
    border: 0.1rem dashed rgba(155, 174, 182, 0.85);
    position: relative;
    overflow: visible;
    display: flex;
    align-items: center;
    justify-content: center;

    input {
      max-height: unset;
      max-width: unset;
      width: 100%;
      height: 100%;
      cursor: pointer;
    }

    .doc-icon {
      position: absolute;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 1rem;

      svg.icon-download {
        width: 3.2rem;
        height: 3.2rem;
        fill: $c-accent;
      }
    }
  }

  .input-file-info {
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.6rem;
  }
}

.form-group {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
}

.form-group-zag {
  font-size: 2.2rem;
  font-style: normal;
  font-weight: 700;
  line-height: 2.8rem;
  margin-bottom: 0.8rem;
}

.form-group-items {
  display: flex;
  flex-direction: column;
  gap: 3.2rem;

  .val-items-zag,
  .val-items-zag.val-items-zag--location {
    padding: 0;
    background: none;
    position: static;
    margin-bottom: 0.8rem;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 400;
    line-height: 2.4rem;
    color: $c-black;
  }
}
