.form-container {
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
}

.form-item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.4rem;
  width: 100%;

  @include breakpoint($sm-bp) {
    max-width: 100%;
  }

  &.error {
    input,
    textarea {
      border-color: rgba(226, 73, 73, 0.85);
      background-color: rgba(226, 73, 73, 0.1);
    }
  }

  &.input--mask {
    position: relative;

    input.date_range-- {
      padding-right: 4rem;
    }

    .ui-datepicker-trigger {
      width: 3rem;
      height: 3rem;
      object-fit: contain;
      object-position: center;
      position: absolute;
      bottom: 0.5rem;
      right: 0.5rem;
    }
  }

  .zag {
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 400;
    line-height: 2.4rem;
  }

  input,
  textarea {
    width: 100%;
    max-width: 46.9rem;
    height: 4rem;
    border-radius: 1.2rem;
    border: 0.1rem solid rgba(155, 174, 182, 0.85);
    box-shadow: 0 0.1rem 0.2rem rgba(17, 65, 85, 0.2) inset;
    background-color: $c-grey_light;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 400;
    line-height: 2.4rem;
    padding: 0rem 1.6rem;
    transition: 0.3s;

    &::placeholder {
      color: $c-placeholder;
    }

    &:focus {
      border-color: rgba(50, 151, 194, 0.85);
      background-color: #fbfbfc;
    }
  }

  textarea {
    resize: none;
    height: 8.8rem;
    padding: 0.8rem 1.6rem;
  }

  .webform-field-upload {
    max-width: 121.6rem;
    height: 11.6rem;
    border-radius: 1.2rem;
    border: 0.1rem dashed rgba(155, 174, 182, 0.85);
    position: relative;
    overflow: visible;
    display: flex;
    align-items: center;
    justify-content: center;

    input {
      max-height: unset;
      max-width: unset;
      width: 100%;
      height: 100%;
      cursor: pointer;
    }

    .doc-icon {
      position: absolute;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 1rem;
      pointer-events: none;

      .tooltips {
        pointer-events: all;
      }

      svg.icon-download {
        width: 3.2rem;
        height: 3.2rem;
        fill: $c-accent;
      }
    }
  }

  .input-file-info {
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.6rem;
  }

  .input-country {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
  }

  .input-country__no-image {
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
  }

  &-radio {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    row-gap: 1.6rem;
    column-gap: 3rem;

    .name {
      font-size: 1.6rem;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      width: 100%;
    }

    label {
      font-size: 1.6rem;
      font-style: normal;
      font-weight: 400;
      line-height: 2.4rem;
      display: flex;
      flex-direction: row-reverse;
      align-items: center;
      flex-wrap: wrap;
      gap: 0.8rem;
      cursor: pointer;

      .jq-radio {
        margin: 0;
        width: 2.4rem;
        height: 2.4rem;
        border-radius: 50%;
        flex: none;
        border: 0.1rem solid rgba(155, 174, 182, 0.85);
        background: #fbfbfc;
        box-shadow: 0 0.1rem 0.2rem 0.1rem rgba(17, 65, 85, 0.2) inset;

        &.checked {
          border: 0.8rem solid $c-accent;
          box-shadow: none;
        }

        .jq-radio__div {
          display: none;
        }
      }
    }
  }

  &.required--date {
    position: relative;
    max-width: 46.9rem;

    .date-picker {
      padding-right: 3.2rem;
    }

    .ui-datepicker-trigger {
      width: 3rem;
      height: 3rem;
      position: absolute;
      bottom: 0.5rem;
      right: 1rem;
    }
  }

  &.input--mask--required {
    position: relative;
    max-width: 46.9rem;

    input {
      padding-right: 3.2rem;
    }

    .icon {
      width: 3rem;
      height: 3rem;
      position: absolute;
      bottom: 0.5rem;
      right: 1rem;
      fill: $c-accent;
    }
  }
}

.form-group {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
  position: static;

  &__content {
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
  }

  &__item-zag {
    font-size: 2.2rem;
    font-style: normal;
    font-weight: 700;
    line-height: 2.8rem;
    margin-bottom: 1.6rem;
  }
}

.form-group-zag {
  font-size: 2.2rem;
  font-style: normal;
  font-weight: 700;
  line-height: 2.8rem;
  margin-bottom: 0.8rem;
}

.form-group-items {
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
}

.form-item-remember {
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2.4rem;
  user-select: none;

  input {
    display: none;

    &:checked {
      & + label {
        &::before {
          border-color: $c-accent;
          box-shadow: 0 0rem 0rem rgba(17, 65, 85, 0) inset;
          background-color: $c-accent;
        }

        &::after {
          opacity: 1;
        }
      }
    }
  }

  label {
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 400;
    line-height: 2.4rem;
    display: flex;
    align-items: center;
    gap: 0.8rem;
    position: relative;
    cursor: pointer;

    &::before {
      content: '';
      flex: none;
      width: 2.4rem;
      height: 2.4rem;
      border-radius: 0.4rem;
      border: 0.1rem solid rgba(155, 174, 182, 0.85);
      box-shadow: 0 0.1rem 0.2rem rgba(17, 65, 85, 0.2) inset;
      background-color: $c-grey_light;
      transition: 0.3s;
    }

    &::after {
      content: '';
      flex: none;
      position: absolute;
      left: 0.5rem;
      transform: rotate(45deg) translateY(-0.3rem);
      border: 0.3rem solid $c-white;
      border-left: none;
      border-top: none;
      width: 0.8rem;
      height: 1.2rem;
      transition: 0.3s;
      opacity: 0;
    }
  }
}

.val-items {
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
}

.val-item {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;

  .zag {
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 400;
    line-height: 2.4rem;
    color: $c-black;
  }

  .value {
    max-width: 46.9rem;
    width: 100%;
    height: 4rem;
    border-radius: 1.2rem !important;
    border: 0.1rem solid rgba(155, 174, 182, 0.85) !important;
    box-shadow: 0 0.1rem 0.2rem rgba(17, 65, 85, 0.2) inset;
    background-color: #fbfbfc;
    padding: 0 1.6rem;
    display: flex;
    align-items: center;
    margin: 0;
  }
}

.form-popup {
  position: relative;
  padding: 5.6rem 4.8rem 4rem;
  border-radius: 2.4rem;
  background: #f5f7fa;
  box-shadow: 0 0.03rem 0.1rem 0 rgba(17, 65, 85, 0.03), 0 0.08rem 0.2rem 0 rgba(17, 65, 85, 0.04),
    0 0.15rem 0.35rem 0 rgba(17, 65, 85, 0.05), 0 0.3rem 0.5rem 0 rgba(17, 65, 85, 0.05),
    0 0 1.6rem 0 rgba(17, 65, 85, 0.06);
  width: 100%;
  max-width: 45.6rem;
  margin: 0 auto;

  @include breakpoint($sm-bp) {
    padding: 5rem 1.6rem 2.4rem;
  }

  &.cropper {
    max-width: 75vw;

    .container {
      display: flex;
      flex-direction: column;
      gap: 3.2rem;
    }

    .img-container {
      width: 100%;

      img {
        object-fit: contain;
        width: 100%;
        height: 100%;
      }
    }
  }

  &--content {
    display: flex;
    flex-direction: column;
    gap: 4rem;
  }

  &--zag {
    font-size: 3.2rem;
    font-style: normal;
    font-weight: 600;
    line-height: 4rem;
    color: $c-black;
    width: 100%;
    text-align: center;
  }

  .js-form-popup,
  .js-form-popup--,
  form {
    display: flex;
    flex-direction: column;

    .form-item {
      margin-bottom: 2.4rem;
    }

    .form-item-remember {
      margin-bottom: 4.8rem;
    }

    .btn {
      width: 100%;
      max-width: 100%;

      &:not(:last-child) {
        margin-bottom: 6.4rem;
      }
    }

    .js-ajax-popup,
    .js-ajax-popup-- {
      margin: 0 auto;
      font-size: 1.6rem;
      font-style: normal;
      font-weight: 400;
      line-height: 2.4rem;
      /* 150% */
      letter-spacing: 0.08rem;
      text-transform: uppercase;
      color: $c-accent;

      &:is(a) {
        transition: 0.3s;

        &:hover {
          color: $c-accent_dark;
        }
      }
    }
  }

  .mfp-close,
  .mfp-close-fake {
    position: absolute;
    top: 1.6rem;
    right: 1.6rem;
    width: 3.2rem;
    height: 3.2rem;
    font-size: 3.2rem;
    line-height: normal;
    color: rgba(155, 174, 182, 0.85);
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.form-photo {
  position: relative;

  .personal-photo,
  .form-photo--img {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;

    .webform-field-upload {
      position: relative;
      width: fit-content;
      height: fit-content;
      opacity: 1;
      order: 3;

      .webform-button-upload {
        position: static;
        max-width: 32.8rem;
        font-size: 1.6rem;
        font-style: normal;
        font-weight: 700;
        line-height: 2.4rem;
        color: $c-white;
        text-align: center;
        padding: 0.8rem 2rem;
        background-color: $c-accent;
        border-radius: 10rem;
        @include btnHover;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1rem;
      }
    }

    .input-file-info {
      max-width: 46.9rem;
      font-size: 1.6rem;
      font-style: normal;
      font-weight: 400;
      line-height: 2.4rem;
      color: $c-placeholder;
      order: 2;
    }

    .webform-field-upload-list {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      gap: 1.6rem;
      margin: 0;
      width: fit-content;
      height: fit-content;
      min-width: 46.9rem;
      min-height: 28.3rem;
      order: 1;

      @include breakpoint($sm-bp) {
        min-width: 100%;
        min-height: calc((100vw - 3.2rem) * 0.603);
      }

      &::after {
        width: 46.9rem;
        height: 28.3rem;
        border-radius: 1.6rem;
        overflow: hidden;
        top: 0;
        left: 0;
        background-size: cover;

        @include breakpoint($sm-bp) {
          width: 100%;
          height: calc((100vw - 3.2rem) * 0.603);
        }
      }

      li {
        position: relative;
        width: 46.9rem;
        height: 28.3rem;
        border-radius: 1.6rem;
        overflow: hidden;
        background-color: rgb(143, 151, 155);

        @include breakpoint($sm-bp) {
          width: 100%;
          height: calc((100vw - 3.2rem) * 0.603);
        }

        .webform-field-item-wrap {
          width: 100%;
          height: 100%;
        }

        .webform-field-upload-icon {
          width: 100%;
          height: 100%;
          background-size: cover;
          background-repeat: no-repeat;

          img {
            position: static;
            transform: none;
            object-fit: contain;
            object-position: center;
            width: 100%;
            height: 100%;
          }
        }

        del {
          width: 2.4rem;
          height: 2.4rem;
          top: 1.2rem;
          right: 1.2rem;
          font-size: 2.4rem;
        }
      }
    }
  }
}
