@mixin hover() {
  @media (hover) {
    &:hover {
      @content;
    }
  }
}

@mixin btnHover() {
  transition: 0.3s;

  @media (hover) {
    &:hover {
      background-color: $c-accent_dark;
    }
  }
}

@mixin scroll() {
  &::-webkit-scrollbar {
    width: 0.8rem;
  }

  &::-webkit-scrollbar-track {
    background: #e7f8ff;
    box-shadow: none;
  }

  &::-webkit-scrollbar-thumb {
    background: $c-accent;
    box-shadow: none;
  }

  &::-webkit-scrollbar-thumb:hover {
    background: $c-accent_dark;
  }
}

@mixin boxShadow {
  box-shadow: 0 0.1rem 0.1rem 0 rgba(17, 65, 85, 0.02), 0 0.15rem 0.2rem 0 rgba(17, 65, 85, 0.03),
    0 0.3rem 0.5rem 0 rgba(17, 65, 85, 0.04), 0 0.6rem 1.6rem 0 rgba(17, 65, 85, 0.04);
}

@mixin boxShadow_active {
  box-shadow: 0 3.2rem 3.2rem 0 rgba(17, 65, 85, 0.05), 0 1.6rem 1.6rem 0 rgba(17, 65, 85, 0.05),
    0 0.8rem 0.8rem 0 rgba(17, 65, 85, 0.05), 0 0.4rem 0.4rem 0 rgba(17, 65, 85, 0.05),
    0 -0.2rem 0.2rem 0 rgba(17, 65, 85, 0.05);
}
