$font-text: 'SF Pro Text';
$font-display: 'SF Pro Display';

$side-width: 34.2rem;

//COLOR
$c-accent: #3297c2;
$c-accent_dark: #28799b;
$c-bg: #f5f7fa;
$c-black: #081f28;
$c-black_hover: rgba(8, 31, 40, 0.6);
$c-white: #ffffff;
$c-white_hover: rgba(255, 255, 255, 0.6);
$c-grey-line: rgba(142, 161, 169, 0.85);
$c-grey_light: #fbfbfc;
$c-red-error: #b53a3a;
$c-placeholder: #7f8e95;
