$font-text: "SF Pro Text";
$font-display: "SF Pro Display";

$side-width: 34.2rem;

//COLOR
$c-accent: #3297C2;
$c-accent_dark: #28799B;
$c-bg: #F5F7FA;
$c-black: #081F28;
$c-black_hover: rgba(8, 31, 40, 0.6);
$c-white: #FFFFFF;
$c-white_hover: rgba(255, 255, 255, 0.6);
$c-grey-line: rgba(142, 161, 169, 0.85);
$c-grey_light: #FBFBFC;

$c-placeholder: #7F8E95;