@import './utils/reset';
// @import './fonts';
@import './utils/mixins.scss';
@import './utils/variables.scss';

@font-face {
  font-family: 'SF Pro Text';
  src: url('../fonts/SFProText-Bold.woff') format('woff'),
    url('../fonts/SFProText-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'SF Pro Text';
  src: url('../fonts/SFProText-Semibold.woff') format('woff'),
    url('../fonts/SFProText-Semibold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'SF Pro Text';
  src: url('../fonts/SFProText-Medium.woff') format('woff'),
    url('../fonts/SFProText-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'SF Pro Text';
  src: url('../fonts/SFProText-Regular.woff') format('woff'),
    url('../fonts/SFProText-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'SF Pro Display';
  src: url('../fonts/SF-Pro-Display-Bold.woff') format('woff'),
    url('../fonts/SFProText-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'SF Pro Display';
  src: url('../fonts/SF-Pro-Display-Semibold.woff') format('woff'),
    url('../fonts/SFProText-Semibold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'SF Pro Display';
  src: url('../fonts/SF-Pro-Display-Medium.woff') format('woff'),
    url('../fonts/SFProText-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'SF Pro Display';
  src: url('../fonts/SF-Pro-Display-Regular.woff') format('woff'),
    url('../fonts/SFProText-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

// GLOBAL
*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

a {
  text-decoration: none;
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
  font-family: inherit;
  color: inherit;
}

button {
  padding: 0;
  margin: 0;
  border: none;
  border-radius: 0;
  background-color: transparent;
  cursor: pointer;
}

html {
  font-size: calc(100vw / 1920 * 10);

  @include breakpoint($xl-bp) {
    font-size: calc(100vw / 990 * 10);
  }

  @include breakpoint($sm-bp) {
    font-size: calc(100vw / 360 * 10);
  }
}

body {
  font-family: $font-text;
  font-size: 1.6rem;
  line-height: normal;
  color: $c-black;

  background-color: $c-bg;
  padding-left: $side-width;

  min-height: 100vh;
  display: flex;
  flex-direction: column;

  @include breakpoint($xl-bp) {
    padding: 0;
  }
}

// general
.btn {
  max-width: 32.8rem;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 700;
  line-height: 2.4rem;
  color: $c-white;
  text-align: center;
  padding: 0.8rem 2rem;
  background-color: $c-accent;
  border-radius: 10rem;
  @include btnHover;
  display: flex;
  align-items: center;
  gap: 1rem;

  svg {
    width: 1em;
    height: 1em;
    fill: transparent;
    stroke: $c-white;
  }
}

.btn-add {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;

  svg {
    width: 1em;
    height: 1em;
    fill: transparent;
    stroke: $c-white;
  }
}

.blue {
  color: $c-accent;
}

.gray {
  color: $c-placeholder;
}

.zag {
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
}

.row {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

//

@import './modules/header.scss';
@import './modules/sidebar.scss';
@import './modules/auctions.scss';
@import './modules/smart-filter.scss';
@import './modules/forms.scss';
@import './modules/offer.scss';
@import './modules/card.scss';

// список карточек artists
@import './modules/artists.scss';
@import './modules/lc.scss';

main {
  flex: 1;
  padding: 0rem 5.5rem 4.8rem;
  display: flex;
  flex-direction: column;
  //
  overflow: hidden;

  @include breakpoint($xl-bp) {
    padding: 0rem 1.6rem 2.4rem;
  }

  #comp_39753d2890b9a4e23457a77c548c170d {
    width: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
  }

  .main-container {
    width: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;

    .main-text {
      max-width: calc(100% / 3 * 2 - 3rem);
      font-size: 2.4rem;
      font-style: normal;
      font-weight: 600;
      line-height: 3.2rem;
      color: $c-accent;
      margin: 4rem 0rem;

      @include breakpoint($xl-bp) {
        margin: 2.4rem 0rem;
        max-width: 100%;
        font-size: 1.6rem;
        font-style: normal;
        font-weight: 700;
        line-height: 2.4rem;
        color: $c-black;
      }
    }

    .main {
      flex: 1;
      width: 100%;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 3rem;

      @include breakpoint($xl-bp) {
        display: flex;
        flex-direction: column;
        gap: 1.6rem;
      }

      .main-item {
        width: 100%;
        min-height: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        border-radius: 2.4rem;
        background: $c-white;
        box-shadow: 0 0.1rem 0.1rem 0 rgba(17, 65, 85, 0.02),
          0 0.15rem 0.2rem 0 rgba(17, 65, 85, 0.03), 0 0.3rem 0.5rem 0 rgba(17, 65, 85, 0.04),
          0 0.6rem 1.6rem 0 rgba(17, 65, 85, 0.04);
        padding: 5.6rem 5.6rem;
        overflow: hidden;
        position: relative;
        transition: 0.3s;

        @include breakpoint($xl-bp) {
          padding: 2.4rem;
          height: fit-content;
          min-height: unset;
        }

        @include breakpoint($sm-bp) {
          padding: 2rem 1.6rem;
        }

        &.active {
          box-shadow: 0 3.2rem 3.2rem 0 rgba(17, 65, 85, 0.05),
            0 1.6rem 1.6rem 0 rgba(17, 65, 85, 0.05), 0 0.8rem 0.8rem 0 rgba(17, 65, 85, 0.05),
            0 0.4rem 0.4rem 0 rgba(17, 65, 85, 0.05), 0 -0.2rem 0.2rem 0 rgba(17, 65, 85, 0.05);

          .main-form {
            opacity: 1;
            pointer-events: all;
            transform: translateY(0);
          }

          .main-item__bg {
            opacity: 0;
          }

          .main-item--close {
            opacity: 1;
            pointer-events: all;
          }

          .main-item-container {
            @include breakpoint($xl-bp) {
              grid-template-rows: auto 1fr;
            }
          }
        }
      }
    }
  }
}

.main-item-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

  @include breakpoint($xl-bp) {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-rows: auto 0fr;
    gap: 1.6rem;
    transition: 0.5s;
    overflow: hidden;
  }

  @include breakpoint($sm-bp) {
    grid-template-columns: 1fr;
  }
}

.main-item__bg {
  position: absolute;
  top: 21.4rem;
  left: 50%;
  transform: translateX(-50%);
  width: 31.7rem;
  height: 31.7rem;
  border-radius: 50%;
  background-color: rgba(8, 31, 40, 0.15);
  padding: 4.9rem;
  transition: 0.5s;

  @include breakpoint($xl-bp) {
    position: static;
    transform: none;
    width: 8rem;
    height: 8rem;
    padding: 1.4rem;
    grid-area: 1/2/2/3;
    margin: 0 0 auto auto;
  }

  @include breakpoint($sm-bp) {
    display: none;
  }

  svg {
    width: 100%;
    height: 100%;
    fill: $c-white;
  }
}

.main-item--close {
  display: none;

  @include breakpoint($xl-bp) {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 2.4rem;
    right: 2.4rem;
    width: 3.2rem;
    height: 3.2rem;
    transition: 0.3s;
    opacity: 0;
    pointer-events: none;
  }

  svg {
    width: 100%;
    height: 100%;
    fill: $c-grey-border;
  }
}

.main-item--zag {
  font-family: $font-display;
  font-size: 5rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: uppercase;
  color: $c-accent;
  text-align: center;
  margin: 0;
  min-height: 15.8rem;

  @include breakpoint($xl-bp) {
    min-height: unset;
    grid-area: 1/1/2/2;
    text-align: left;
    margin-bottom: auto;
  }

  @include breakpoint($sm-bp) {
    font-size: 3.2rem;
    line-height: 4rem;
    grid-area: 1/1/2/2;
    padding-right: 3rem;
  }
}

.main-form {
  width: 100%;
  position: relative;
  z-index: 1;
  opacity: 0;
  pointer-events: none;
  transform: translateY(5rem);
  transition: 0.5s;
  display: flex;
  flex-direction: column;
  align-items: center;

  @include breakpoint($xl-bp) {
    grid-area: 2/1/3/3;
    opacity: 0;
    min-height: 0;
    transform: none;
  }

  @include breakpoint($sm-bp) {
    grid-area: 2/1/3/2;
  }

  form {
    display: flex;
    flex-direction: column;
    gap: 2.4rem;
  }

  p {
    width: 100%;
    text-align: center;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 400;
    line-height: 2.4rem;
    margin-bottom: 4rem;
  }

  .btn {
    width: 100%;
    max-width: 100%;
  }
}

.tooltips {
  position: relative;

  &:hover {
    .tooltips__val {
      opacity: 1;
    }
  }

  &__ico {
    width: 2.4rem;
    height: 2.4rem;

    svg {
      width: 100%;
      height: 100%;
      fill: $c-black;
    }
  }

  &__val {
    padding: 0.8rem 1rem;
    position: absolute;
    bottom: 110%;
    width: 15rem;
    left: 50%;
    transform: translateX(-50%);
    background-color: $c-white;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);
    border-radius: 1.6rem;
    font-size: 1.4rem;
    line-height: normal;
    opacity: 0;
    pointer-events: none;
  }
}

.reg-location {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.4rem;
  width: 100%;

  .ttl {
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 400;
    line-height: 2.4rem;
  }
}

.bx-slst {
  width: 100%;

  .bx-ui-slst-pool {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  .dropdown-block {
    max-width: 46.9rem;
    width: 100%;
    height: 4rem;
    border-radius: 1.2rem;
    border: 0.1rem solid rgba(155, 174, 182, 0.85);
    box-shadow: 0 0.1rem 0.2rem rgba(17, 65, 85, 0.2) inset;
    background-color: $c-grey_light;
    padding: 0;
    margin: 0;

    &.error {
      border-color: rgba(226, 73, 73, 0.85);
      background-color: rgba(226, 73, 73, 0.1);
    }

    .dropdown-icon {
      display: none;
    }

    .dropdown-fade2white {
      display: none;
    }

    .bx-ui-combobox-container {
      width: 100%;
      height: 100%;

      input {
        width: 100%;
        height: 100%;
        font-family: $font-text;
        font-size: 1.6rem;
        font-style: normal;
        font-weight: 400;
        line-height: 2.4rem;
        padding: 0rem 4.4rem 0 1.6rem;
        transition: 0.3s;

        &::placeholder {
          color: $c-placeholder;
        }

        &:focus {
          border-color: rgba(50, 151, 194, 0.85);
          background-color: #fbfbfc;
        }
      }
    }

    .bx-ui-combobox-dropdown {
      padding: 1.6rem 0rem;
      border-radius: 1.6rem;
      border: none;
      width: 100%;
      max-height: 25rem;
      background-color: $c-white;
      bottom: unset;
      top: calc(100% + 1px);
      box-shadow: 0 0.1rem 0.1rem 0 rgba(17, 65, 85, 0.02),
        0 0.15rem 0.2rem 0 rgba(17, 65, 85, 0.03), 0 0.3rem 0.5rem 0 rgba(17, 65, 85, 0.04),
        0 0.6rem 1.6rem 0 rgba(17, 65, 85, 0.04);

      .bx-ui-combobox-variant {
        width: 100%;
        padding: 1.6rem 2.4rem;
        transition: 0.3s;
        font-size: 1.6rem;
        font-style: normal;
        font-weight: 400;
        line-height: 2.4rem;
        color: $c-black;
        background-color: transparent;

        &:hover {
          background-color: rgba(158, 207, 228, 0.05);
        }

        &.bx-ui-combobox-variant-active {
          background-color: $c-accent;
          color: $c-white;
        }
      }

      .bx-ui-combobox-error {
        width: 100%;
        padding: 1.6rem 2.4rem;
        transition: 0.3s;
        font-size: 1.6rem;
        font-style: normal;
        font-weight: 400;
        line-height: 2.4rem;
        color: $c-red-error;
        background-color: transparent;
      }
    }
  }

  .bx-ui-combobox-toggle {
    position: absolute;
    width: 2.4rem;
    height: 2.4rem;
    top: 50%;
    right: 1.6rem;
    transform: translateY(-50%);
  }
}

.page-head {
  margin: 1.6rem 0rem 3.2rem;

  @include breakpoint($sm-bp) {
    margin: 1.6rem 0rem 2rem;
  }

  &__wrp {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 4rem;

    @include breakpoint($sm-bp) {
      gap: 2.4rem;
    }
  }

  .bx-breadcrumb {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    column-gap: 0.6rem;
    row-gap: 1rem;
    padding: 0.8rem 0rem;

    &-item {
      font-size: 1.2rem;
      font-style: normal;
      font-weight: 400;
      line-height: 1.6rem;
      color: $c-placeholder;
      display: flex;
      align-items: center;
      gap: 0.4rem;
      transition: 0.3s;

      @include hover {
        color: $c-black_hover;
      }

      &::after {
        content: '/';
        opacity: 0.4;
      }

      &:last-child {
        color: $c-black;

        &::after {
          display: none;
        }
      }
    }

    span {
      font-size: inherit;
      font-style: inherit;
      font-weight: inherit;
      line-height: inherit;
      color: inherit;
      max-width: unset;
    }
  }

  h1 {
    font-size: 3.2rem;
    font-style: normal;
    font-weight: 600;
    line-height: 4rem;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  span {
    font-size: 2.4rem;
    font-style: normal;
    font-weight: 600;
    line-height: 3.2rem;
    color: $c-accent;
    max-width: 96.4rem;

    @include breakpoint($xl-bp) {
      max-width: 100%;
    }

    @include breakpoint($sm-bp) {
      max-width: 100%;
      font-size: 1.6rem;
      font-style: normal;
      font-weight: 700;
      line-height: 2.4rem;
      color: $c-black;
    }
  }
}

.services-menu {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 3rem;
  row-gap: 2.4rem;

  @include breakpoint($xl-bp) {
    grid-template-columns: repeat(2, 1fr);
    gap: 1.6rem;
  }

  @include breakpoint($sm-bp) {
    grid-template-columns: 1fr;
  }

  &-item {
    width: 100%;
    height: 100%;
    min-height: 16rem;

    @include breakpoint($sm-bp) {
      min-height: 12.8rem;
    }

    a {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      width: 100%;
      height: 100%;
      background-color: $c-accent;
      transition: 0.3s;
      font-size: 4rem;
      font-style: normal;
      font-weight: 600;
      line-height: 4.8rem;
      /* 120% */
      text-transform: uppercase;
      text-align: left;
      color: $c-white;
      padding: 1rem 3.2rem;
      box-shadow: 0 0.3rem 0.1rem 0 rgba(17, 65, 85, 0.03), 0 0.8rem 0.2rem 0 rgba(17, 65, 85, 0.04),
        0 0.15rem 0.35rem 0 rgba(17, 65, 85, 0.05), 0 0.3rem 0.5rem 0 rgba(17, 65, 85, 0.05),
        0 0 1.6rem 0 rgba(17, 65, 85, 0.06);
      border-radius: 2.4rem;

      @include hover {
        box-shadow: 0 3.2rem 3.2rem 0 rgba(17, 65, 85, 0.05),
          0 1.6rem 1.6rem 0 rgba(17, 65, 85, 0.05), 0 0.8rem 0.8rem 0 rgba(17, 65, 85, 0.05),
          0 0.4rem 0.4rem 0 rgba(17, 65, 85, 0.05), 0 -0.2rem 0.2rem 0 rgba(17, 65, 85, 0.05);
        color: $c-accent;
        background-color: $c-white;
      }

      @include breakpoint($sm-bp) {
        padding: 2.4rem 1.6rem;
        font-size: 3.2rem;
        line-height: 4rem;
      }
    }
  }
}

.about-items {
  margin: 6.4rem 0rem 0rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10.4rem;
  overflow: hidden;

  @include breakpoint($xl-bp) {
    gap: 3.2rem;
  }

  @include breakpoint($sm-bp) {
    gap: 4rem;
    margin: 0;
  }
}

.about-item {
  width: 100%;
  max-width: 102.8rem;
  min-height: 28.1rem;
  position: relative;
  display: flex;
  align-items: center;

  @include breakpoint($xl-bp) {
    gap: 3.2rem;
  }

  @include breakpoint($sm-bp) {
    gap: 1.6rem;
    flex-direction: column;
  }

  &:nth-child(2n + 2) {
    @include breakpoint($xl-bp) {
      flex-direction: row-reverse;
    }

    @include breakpoint($sm-bp) {
      flex-direction: column;
    }
  }

  &:nth-child(2n + 2) & {
    &__desc {
      padding: 3.2rem 4rem 3.2rem 62rem;

      @include breakpoint($xl-bp) {
        padding: 2.4rem 3.2rem;
      }
    }

    &__img {
      right: unset;
      left: 3rem;
    }
  }

  &__desc {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    padding: 3.2rem 62rem 3.2rem 4rem;
    border-radius: 1.6rem;
    background-color: #ecfcff;

    @include breakpoint($xl-bp) {
      padding: 2.4rem 3.2rem;
      flex: 1;
    }

    @include breakpoint($sm-bp) {
      padding: 3.2rem 3rem;
    }

    .zag {
      font-size: 2.4rem;
      font-style: normal;
      font-weight: 600;
      line-height: 3.2rem;
    }

    .desc {
      font-size: 1.6rem;
      font-style: normal;
      font-weight: 400;
      line-height: 2.4rem;
    }
  }

  &__img {
    position: absolute;
    right: 3rem;
    width: 49.9rem;
    height: 28.1rem;
    padding: 1.6rem;
    border-radius: 1.6rem;
    background-color: $c-white;
    box-shadow: 0 0.03rem 0.1rem 0 rgba(17, 65, 85, 0.03), 0 0.08rem 0.2rem 0 rgba(17, 65, 85, 0.04),
      0 0.15rem 0.35rem 0 rgba(17, 65, 85, 0.05), 0 0.3rem 0.5rem 0 rgba(17, 65, 85, 0.05),
      0 0 1.6rem 0 rgba(17, 65, 85, 0.06);

    @include breakpoint($xl-bp) {
      flex: 1;
      position: static;
      width: 100%;
      height: 100%;
    }

    @include breakpoint($sm-bp) {
      padding: 1rem;
    }

    img {
      object-fit: contain;
      object-position: center;
      width: 100%;
      height: 100%;
      border-radius: 0.8rem;
    }
  }
}

#reglament-container {
  .reglament {
    display: flex;
    align-items: flex-start;
    gap: 4rem;
    justify-content: space-between;

    @include breakpoint($xl-bp) {
      flex-direction: column-reverse;
      gap: 3.2rem;
    }

    &__container {
      max-width: 80.7rem;

      @include breakpoint($xl-bp) {
        max-width: 100%;
      }
    }

    &-menu {
      max-width: 46.9rem;
      display: flex;
      flex-direction: column-reverse;
      gap: 1.6rem;

      @include breakpoint($xl-bp) {
        max-width: 100%;
      }

      &__list {
        ul {
          display: flex;
          flex-direction: column;

          li {
            padding: 1.2rem 0rem;
            border-bottom: 0.1rem solid $c-grey-line;
            font-size: 1.6rem;
            font-style: normal;
            font-weight: 400;
            line-height: 2.4rem;

            span {
              font-size: 1.4rem;
              opacity: 0.7;
            }
          }
        }
      }
    }

    &-btn__mob {
      display: none;
    }

    &-download {
      padding: 1.6rem;
      border-radius: 1.6rem;
      background-color: rgba(50, 151, 194, 0.1);
      display: flex;
      flex-direction: column;

      .zag {
        font-size: 2rem;
        font-style: normal;
        font-weight: 700;
        line-height: 2.8rem;
        margin-bottom: 0.8rem;
      }

      p {
        font-size: 1.6rem;
        font-style: normal;
        font-weight: 400;
        line-height: 2.4rem;
        margin-bottom: 1.6rem;
      }

      a[download] {
        display: flex;
        align-items: center;
        gap: 0.8rem;
        font-size: 1.6rem;
        font-style: normal;
        font-weight: 400;
        line-height: 2.4rem;
        /* 150% */
        letter-spacing: 0.08rem;
        text-transform: uppercase;
        color: $c-accent;
        transition: 0.3s;

        @include hover {
          opacity: 0.7;
        }

        svg {
          width: 2.4rem;
          height: 2.4rem;
          fill: $c-accent;
        }
      }
    }

    &-list {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 6.4rem;

      &__item {
        display: flex;
        flex-direction: column;
        gap: 3.2rem;

        .zag {
          font-size: 2rem;
          font-style: normal;
          font-weight: 700;
          line-height: 2.8rem;
        }

        .val {
          font-size: 1.6rem;
          font-style: normal;
          font-weight: 400;
          line-height: 2.4rem;
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          gap: 2.4rem;

          ol,
          ul {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 2.4rem;
          }
        }
      }
    }
  }
}

.reglament-select {
  margin-bottom: 3.2rem;

  .form-item {
    display: flex;
    flex-direction: column;

    .zag {
      font-size: 2rem;
      font-style: normal;
      font-weight: 700;
      line-height: 2.8rem;
      margin-bottom: 0.8rem;
    }
  }
}

.jq-selectbox {
  &__select {
    height: 4rem;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 400;
    line-height: 2.4rem;
    width: 32rem;
    max-width: 100%;
    padding: 0.8rem 4.4rem 0.8rem 1.6rem;
    border-radius: 1.2rem;
    border: 0.1rem solid rgba(155, 174, 182, 0.85);
    background: #fbfbfc;
    box-shadow: 0 0.1rem 0.2rem 0.1rem rgba(17, 65, 85, 0.2) inset;

    @include hover {
      background: #fbfbfc;
    }

    &-text {
      background-position: right center;
      background-size: contain;
      background-repeat: no-repeat;
    }
  }

  &__trigger {
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;

    .jq-selectbox__trigger-arrow {
      top: unset;
      right: unset;
      border-top: 0.5rem solid $c-placeholder;
      border-right: 0.5rem solid transparent;
      border-left: 0.5rem solid transparent;
    }
  }

  &__dropdown {
    z-index: 500;
    padding: 1.6rem 0rem;
    background-color: $c-white;
    box-shadow: 0 0.05rem 0.1rem 0 rgba(17, 65, 85, 0.1), 0 0.15rem 0.3rem 0 rgba(17, 65, 85, 0.04),
      0 0.3rem 0.8rem 0 rgba(17, 65, 85, 0.03);
    top: 100% !important;

    ul {
      display: flex;
      flex-direction: column;

      li {
        font-size: 1.6rem;
        font-style: normal;
        font-weight: 400;
        line-height: 2.4rem;
        padding: 1.6rem 2.4rem;
        color: $c-black;
        transition: 0.3s;
        background-size: contain 60%;
        background-position: center;
        background-repeat: no-repeat;
        white-space: normal;

        &:hover {
          color: $c-black;
          background-color: rgba(158, 207, 228, 0.05);
        }

        &.selected {
          background-color: rgba(158, 207, 228, 0.05);
        }

        &.sel {
          background-color: $c-accent;
          color: $c-white;
        }
      }
    }
  }
}

.pagination {
  width: 100%;
  margin: 5rem 0rem 14rem;

  &-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }

  &-arrow {
    width: 4rem;
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;

    &.--next {
      svg {
        transform: rotate(180deg);
      }
    }

    svg {
      width: 1.2rem;
      height: 1.2rem;
      fill: $c-black;
    }
  }

  ul {
    display: flex;
    align-items: center;
    justify-content: center;

    li {
      font-size: 1.6rem;
      font-style: normal;
      font-weight: 400;
      line-height: 2.4rem;
      height: 4rem;
      width: 4rem;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: 0.3s;

      @include hover {
        background-color: rgba(158, 207, 228, 0.05);
      }

      &.active {
        background-color: $c-accent;
        color: $c-white;
      }
    }
  }
}

.notify {
  position: absolute;
  bottom: 0;
  right: 0;
  opacity: 0.5;
  pointer-events: none;

  &.error {
  }

  &.warning {
  }

  &.success {
  }
}

.smart-filter-dropdown-popup ul {
  @include scroll;
}

#fields-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 3.2rem;

  @include breakpoint($sm-bp) {
    gap: 2.4rem;
  }
}

.js-select-mult {
  width: 100%;
  display: flex;
  flex-direction: column-reverse;
  gap: 1.2rem;

  .form-item {
    flex: none;
  }

  .selected-list {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 0.8rem;

    &--item {
      display: flex;
      align-items: center;
      gap: 0.8rem;
      font-size: 1.6rem;
      font-style: normal;
      font-weight: 400;
      line-height: 2.4rem;
      padding: 0.2rem 0.8rem;
      border-radius: 10rem;
      background-color: rgba(50, 151, 194, 0.1);
      cursor: pointer;

      span {
        width: 1.4rem;
        height: 1.4rem;
        border-radius: 50%;
        background-color: #343c4b;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;

        &::before,
        &::after {
          content: '';
          width: 0.8rem;
          height: 0.2rem;
          border-radius: 0.2rem;
          background-color: $c-white;
          position: absolute;
        }

        &::before {
          transform: rotate(-45deg);
        }

        &::after {
          transform: rotate(45deg);
        }
      }
    }
  }
}

.multiple-select {
  .ms-choice {
    margin: 0;
    height: 4rem;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 400;
    line-height: 2.4rem;
    width: 32rem;
    max-width: 100%;
    padding: 0.8rem 4.4rem 0.8rem 1.6rem;
    border-radius: 1.2rem;
    border: 0.1rem solid rgba(155, 174, 182, 0.85);
    background: #fbfbfc;
    box-shadow: 0 0.1rem 0.2rem 0.1rem rgba(17, 65, 85, 0.2) inset;
    position: relative;
    display: flex;
    align-items: center;
    margin: 0;

    span {
      position: relative;
    }

    .icon-caret {
      right: 0.8rem;
      margin-top: -0.2rem;
      border-color: $c-placeholder transparent transparent transparent;
      border-style: solid;
      border-width: 0.5rem 0.4rem 0 0.4rem;

      &.open {
        border-color: transparent transparent $c-placeholder transparent;
        border-width: 0 0.4rem 0.5rem 0.4rem;
      }
    }
  }

  .ms-drop {
    padding: 1.6rem 0rem;
    background-color: $c-white;
    box-shadow: 0 0.05rem 0.1rem 0 rgba(17, 65, 85, 0.1), 0 0.15rem 0.3rem 0 rgba(17, 65, 85, 0.04),
      0 0.3rem 0.8rem 0 rgba(17, 65, 85, 0.03);

    ul {
      @include scroll;

      li {
        font-size: 1.6rem;
        font-style: normal;
        font-weight: 400;
        line-height: 2.4rem;
        padding: 1.6rem 2.4rem;
        color: $c-black;
        transition: 0.3s;

        &:hover {
          color: $c-black;
          background-color: rgba(158, 207, 228, 0.05);
        }

        &.selected {
          background-color: $c-accent;
          color: $c-white;
        }

        input {
          display: none;
        }
      }
    }
  }
}

.form-item-check {
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2.4rem;
  color: $c-black;

  label {
    display: flex;
    align-items: center;
    gap: 0.8rem;
    width: fit-content;
    cursor: pointer;
    user-select: none;
  }

  .jq-checkbox {
    width: 2.4rem;
    height: 2.4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.4rem;
    border: 0.1rem solid rgba(155, 174, 182, 0.85);
    background: #fbfbfc;
    box-shadow: 0 0.1rem 0.2rem 0.1rem rgba(17, 65, 85, 0.2) inset;
    transition: 0.3s;

    &.checked {
      background-color: $c-accent;
      border-color: $c-accent;
      box-shadow: 0 0 0 0 rgba(17, 65, 85, 0.2) inset;

      .jq-checkbox__div {
        margin: 0;
        width: 60%;
        height: 40%;
        border-bottom: 0.3rem solid $c-white;
        border-left: 0.3rem solid $c-white;
        transform: translateY(-30%) rotate(-50deg);
      }
    }
  }
}

.ui-datepicker {
  z-index: 20;
}

.auction-gallery {
  width: 46.9rem;

  .auction-gallery__main-slide {
    border-radius: 1.6rem;
    overflow: hidden;
    height: 28.3rem;

    a {
      width: 100%;
      height: 100%;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
    }
  }
}

.mfp-bg {
  background: rgba(0, 0, 0, 0.3);
}

.mfp-container {
  display: grid;
  align-items: center;

  &::before {
    display: none;
  }
}

.mfp-content {
  // position: relative;
  // padding: 5.6rem 4.8rem 4rem;
  // border-radius: 2.4rem;
  // background: #f5f7fa;
  // box-shadow: 0 0.03rem 0.1rem 0 rgba(17, 65, 85, 0.03), 0 0.08rem 0.2rem 0 rgba(17, 65, 85, 0.04),
  //   0 0.15rem 0.35rem 0 rgba(17, 65, 85, 0.05), 0 0.3rem 0.5rem 0 rgba(17, 65, 85, 0.05),
  //   0 0 1.6rem 0 rgba(17, 65, 85, 0.06);
  // width: 100%;
  // max-width: 45.6rem;
}

.mfp-close {
  position: absolute;
  top: 1.6rem;
  right: 1.6rem;
  width: 3.2rem;
  height: 3.2rem;
  font-size: 3.2rem;
  line-height: normal;
  color: rgba(155, 174, 182, 0.85);
  display: flex;
  align-items: center;
  justify-content: center;
}

.popup-window {
  padding: 1.6rem 0rem;
  background-color: $c-white;
  box-shadow: 0 0.05rem 0.1rem 0 rgba(17, 65, 85, 0.1), 0 0.15rem 0.3rem 0 rgba(17, 65, 85, 0.04),
    0 0.3rem 0.8rem 0 rgba(17, 65, 85, 0.03);
  border-radius: 1.6rem;

  .smart-filter-dropdown-popup {
    ul {
      display: flex;
      flex-direction: column;

      li {
        label {
          font-size: 1.6rem;
          font-style: normal;
          font-weight: 400;
          line-height: 2.4rem;
          padding: 1.6rem 2.4rem;
          color: $c-black;
          transition: 0.3s;

          &:hover {
            color: $c-black;
            background-color: rgba(158, 207, 228, 0.05);
          }

          &.selected {
            background-color: $c-accent;
            color: $c-white;
          }

          &.sel {
            background-color: $c-accent;
            color: $c-white;
          }
        }
      }
    }
  }
}

.val-items-zag,
.val-items-zag.val-items-zag--location {
  padding: 0;
  background: none;
  position: static;
  margin-bottom: 0.8rem;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2.4rem;
  color: $c-black;
}

.social-item {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  column-gap: 1rem;
  row-gap: 1.2rem;
}

.file-input.request-img.personal-photo {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.6rem;
  width: fit-content;
  padding-right: 4rem;

  .webform-field-upload-list {
    // min-height: 15.6rem;
    // min-width: 27.2rem;
    min-width: 46.9rem;
    min-height: 28.3rem;
    border-radius: 1.6rem;
    overflow: hidden;
    display: flex;
    align-items: stretch;
    justify-content: flex-start;
    gap: 1.6rem;

    &::after {
      top: 0;
      left: 0;
      margin: 0;
      width: 46.9rem;
      height: 28.3rem;
      background-size: cover;
      border-radius: 1.6rem;
      overflow: hidden;
    }

    li {
      width: 46.9rem;
      height: 28.3rem;
      border-radius: 1.6rem;
      overflow: hidden;

      .webform-field-item-wrap {
        width: 100%;
        height: 100%;

        del {
          top: 0.8rem;
          right: 0.8rem;
          left: unset;
          margin: 0;
          width: 3.2rem;
          height: 3.2rem;
          background-color: $c-accent;
          color: $c-white;
          font-size: 2.8rem;
          line-height: 3.2rem;
          transition: 0.3s;
          display: flex;
          align-items: center;
          justify-content: center;

          @include hover {
            background-color: $c-accent_dark;
            color: $c-white;
          }
        }

        .webform-field-upload-icon {
          width: 100%;
          height: 100%;
          background-size: cover;
          background-position: center;
          background-repeat: no-repeat;

          img {
            object-fit: cover;
            object-position: center bottom;
            width: 100%;
            height: 100%;
          }
        }
      }
    }
  }

  .webform-field-upload {
    position: relative;
    opacity: 1;
    width: 100%;
    height: 4rem;
    max-width: 32.8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4rem;
    background-color: $c-accent;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 700;
    line-height: 2.4rem;
    color: $c-white;
    transition: 0.3s;

    @include hover {
      background-color: $c-accent_dark;
    }

    span {
      line-height: 4rem;
      color: $c-white;
      cursor: pointer;
    }

    input {
      font-size: 1.6rem;
      font-style: normal;
      font-weight: 700;
      line-height: 2.4rem;
      cursor: pointer;
    }
  }
}

.rubrics-panel {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 1.6rem;
}
